{{> head }}
{{> navbar }}

    <div class="row">

        <div class"col-8">
            <h1>Rapidos y Furiosos</h1>
            <p> 
                este el auto de Brian Oconel!
            </p>


        </div>
        
        <div class="col-4">
            <img src="assets/img/auto.jpg" class="img-thumbnail">
    </div>
    {{> footer }}