{{> head }}
{{> navbar }}

    <div class="row">

        <div class"col-8">
            <h1>Rapidos y Furiosos</h1>
            <p> 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, facere perspiciatis? Provident, pariatur et? Pariatur porro nesciunt quo consequatur quidem, nobis eligendi ut tenetur ipsam facilis error, totam, officiis quaerat?
            </p>


        </div>
        
        <div class="col-4">
            <img src="assets/img/auto.jpg" class="img-thumbnail">
    </div>
    {{> footer }}